$bootstrap-sm: 576px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;
$purple:#966ae9;
$darkPurple:#7538dd;
$light:whitesmoke;
$primary:black;
$secondary:rgb(23,23,23);
$lighter:rgb(46,46,46);
$mainFont:'Roboto Condensed', sans-serif;
$foot-height:11rem;
$dk:#c41e3a;
$dh:#a330c9;
$druid:#ff7c0a;
$hunt:#aad372;
$mage:#3fc7eb;
$monk:#00ff98;
$pally:#f48cba;
$priest:#ffffff;
$rogue:#fff468;
$sham:#0070dd;
$lock:#8788ee;
$war:#c69b6d;

* {
    transition: 0.3s;
  }
  
  #gallery.custom {
    padding: 0 15px;
    
    img {
      display: block;
      margin: 15px 0;
      border-radius:25px;
      
    }
    *:hover{
      cursor: pointer;
    }
  }
  
  #galleryModal.custom {
    .modal-content {
      background: none;
      border: none;
      width:95%;
      
    }
    
    .modal-header {
      border:none;
      margin:0;
      padding:0;
      
      
      button {
        background: $purple;
        border-radius: 100px 100px 0 0;
        padding: 5px 10px;
        opacity: 1;
        position: relative;
        top: 11px;
        right:20px;
        border: solid 2px $purple;
        
        @media (min-width: $bootstrap-lg) {
          top: 15px;
          right:16px;
          height:50px;
        //   overflow:hidden;
        }
        @media (min-width: $bootstrap-lg) {
          top: 15px;
          right:16px;
          height:50px;
        //   overflow:hidden;
        }
        @media (min-width: $bootstrap-lg) {
          top: 15px;
          right:16px;
          height:50px;
        //   overflow:hidden;
        }
        
        
        &:hover {
          top: 5px;
        }
      }
      
      span {
        color: $light;
        position:relative;
        top: -12px;
    
      }
    }
    
    .modal-body {
      padding: 0;
      border: none;
      position: relative;
      
      &::before, &::after {
        content: '';
        height: 50px;
        width: 50px;
        display: block;
        position: absolute;
        background: $purple;
        border-radius: 3px 10px;
        
        @media (min-width: $bootstrap-md) {
          border-radius: 3px 30px;
          height: 100px;
          width: 100px;
        }
      }
      
      &::before {
        top: -5px;
        left: -5px;
        
        @media (min-width: $bootstrap-md) {
          top: -5px;
          left: -5px;
        }
      }
      
      &::after {
        bottom: -5px;
        right: -15px;
        z-index: -1;
        
        @media (min-width: $bootstrap-md) {
          bottom: -5px;
          right: -5px;
        }
      }
    }
    
    .modal-footer {
      border: none;
      
      
      @media (min-width: $bootstrap-lg) {
        margin-top: 40px;
      }
      
      .btn {
        margin: auto;
        border: solid 2px $light;
        background: none;
        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 0.1em;
        font-weight: bold;
        padding: 0.2em 0.7em;
        
        &:hover {
          background: $light;
          color: $primary;
        }
      }
    }
    
    .carousel-control-prev, .carousel-control-next {
      font-size: 1em;
      width:2rem;
      top: 0;
      opacity:.7;
      overflow:hidden;
      background:$secondary;
      
      @media (min-width: $bootstrap-md) {
        top: 0;
        opacity: 0.7;
        bottom: 0;
        width:2rem;
        
      }
    }
    .carousel-inner{
      border-radius: 25px;
    }
    .carousel-control-next-icon,  .carousel-control-prev-icon {
      height: 30px;
      width: 30px;
    }
    
    .carousel-control-prev  {
        border-bottom-left-radius:25px;
        border-top-left-radius:25px;
       
      }
    
    
    .carousel-control-next { 
      border-bottom-right-radius:25px;
      border-top-right-radius:25px;
        
      }
    
    
    .carousel-indicators {
      bottom: -60px;
      
      @media (min-width: $bootstrap-lg) {
        bottom: -30px;
      }
      
      li {
        height: 30px;
        border-radius: 100px;
        background: none;
        border: solid 2px $light;
        
        @media (min-width: $bootstrap-lg) {
          height: 10px;
        }
        
        &:hover {
          background: $light;
        }
        
        &.active {
          background: $light;
        }
      }
    }
  }
  
  // --- END: custom styling demo --- //
  
  
  // --- BEGIN: style switch --- //
  // This is just styling for the style toggle switch. Mostly copied from https://www.w3schools.com/howto/howto_css_switch.asp
  
  
/* font-family: 'Roboto Condensed', sans-serif; */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family:$mainFont;
    width:100%;
    background-color: $lighter;
}

/* header section */

h1,h2,h3,h4{
    font-family:'Roboto Condensed', sans-serif;
}

header{
    background-image: url("/img/bg.jpg");
    background-size: 100% 100%;
}

.container .row-content{
    background-color:$secondary;
}

.smaller{
    font-size:50%;
}
.jumbotron{
    margin:0;
    padding:0;
    background-color: $primary;
    font-weight:700;
    padding-top:7vh;
}


.row-content h2{
    color:$purple;
}

.brdr-bottom{
    border-bottom:1px solid $purple;

}
h1{
color:$purple;

}
.jumbotron {
    h2{
        color:$light;

    } 
}

.navbar{
    background: $primary;
    margin:0;
    padding:0;

}

.navbar .navbar-nav li a:hover{
    color: $purple!important;}
.navbar{
    width:100%;
}
/* end header section ****************************/


/* content start */
.temp{
    height:35vh;
}

.row-content{
    background:$primary;
}

#about{
  background:$secondary;
}
.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
}

.carousel-inner{
    border-radius:25px;
}

.placeholder{
    margin:auto;
    width:100%;
    height:20vh;
    background-color:$lighter;
}
.para{
    font-size:1.2rem;
    text-indent: 2rem;
}
.carousel-caption{
    background-color: rgba(0,0,0,0.5);
   
    
}

#homeCarousel .carousel-indicators li{
    height: 1rem;
    width:1rem;
    border-radius:100%;
}
/* content end */

/* footer */
footer{
    background-color: $primary;
}

footer h5{
    color:$purple;
}

footer .fa-envelope{
    color:$light;
}

footer li a{
    color:$light;
}
.twitch{
    
    color:$purple;
}
.twitch:hover{
    color:$light;
    background-color:$purple;
}
footer li a:hover{
    background-color:$purple;
    color:$light;
    text-decoration: none;
}

.fa-envelope:hover{
    color:$purple;
}

footer h5{
    font-weight:bold;
    font-size:1.5em;
}


// Crop thumbnail images.
#gallery {
  
  img {
    height: 75vw;
    object-fit: cover;
    
    
    @media (min-width: $bootstrap-sm) {
      height: 35vw;
    }
    
    @media (min-width: $bootstrap-lg) {
      height: 15vw;
    }
  }
}


// Crop images in lightbox.
#galleryCarousel .carousel-item {
  
  img {
    height: 50vw;
    object-fit: contain;
    
    @media (min-width: $bootstrap-lg) {
      height: 550px;
      
    }
  }
}

.ac-link{
  color:$light;
  small{
    color:$secondary;
  }
  &:hover{
    text-decoration:none;
    color:$light;
    text-shadow:1px 1px 1px gray;
    cursor: pointer;
  }
  
}

#accordion{
  
  a[aria-expanded=true] .fa-chevron-down {
      display: none;
  }
  a[aria-expanded=false] .fa-chevron-up {
      display: none;
  }
  
  .card{
    margin-bottom:.2rem;
    background:$darkPurple;
  h4 {
    a{
    text-shadow:1px 2px 1px $darkPurple;
    small{
      text-shadow:none;
    }
    }
  }

    
    
    p{
      color:$light;
      text-shadow:1px 1px 3px $secondary;
      
    }
    img{
      border-radius:25px;
      width:100%;
  
    }
    ul{
      margin-left:3rem;
      li{
        list-style:none;
      }
    }
  }


  .card-header{
    background:$purple;
  }
}

.officer{
  color:$light;
  text-shadow: 1px 1px 3px $secondary;
  
}

#rip{
  text-decoration:none;
  color:$light;
  &:hover{
    cursor:text;
  }
}

.pagecon{
  position:relative;
  min-height:100vh;
}

.foot-bot{
  position:absolute;
  bottom:0;
  width:100%;
  height:$foot-height;
}

#content{
  padding-bottom:$foot-height;
}

.txt-shdw{
  text-shadow:1px 1px 1px $lighter;
}

.druid{
    background-color:orange;
}

.dk{
  background-color:$dk;
}

.dh{
  background-color:$dh;
}

.hunter{
  background:$hunt;
}

.mage{
  background-color: $mage;
}

.monk{
  background-color: $monk;
}

.pally{
  background-color: $pally;
}

.priest{
  background-color:$priest;
}

.rogue{
  background-color: $rogue;
}

.sham{
  background-color: $sham;
}

.lock{
  background-color: $lock;
}

.war{
  background-color: $war;
}

#guides{
  .card{
    background:$lighter;
    min-height:195px;
  }

  .card-header{
    padding:0;
  }

  ul{
    list-style: none;
    color:$light;
  }
}